<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.rcs.com.splayv2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcheroficial"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TelaHome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AreaLegenda"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name=".LetraCB"
            android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar" />
        <activity
            android:name=".LetraNet"
            android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar" />
        <activity
            android:name=".TelaPlay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.DialogWhenLarge.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroMain"
            android:theme="@style/AppTheme" />
    </application>

</manifest>